{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Home {% endblock title %}

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Все соглашения (пример таблицы)</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Название</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Инициатор</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Направление</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Адресат</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Статус</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="align-middle">
                      <div class="d-flex px-2 py-1">
                        <h6 class="mb-0 text-sm">О передачи материальных ценностей</h6>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="{% static 'img/team-2.jpg' %}" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="text-xs font-weight-bold mb-0">Игорь Иванов</p>
                          <p class="text-xs text-secondary mb-0">Технический отдел</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <span class="badge badge-sm bg-gradient-success">>>>></span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="{% static 'img/team-4.jpg' %}" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="text-xs font-weight-bold mb-0">Дмитрий Фраерман</p>
                          <p class="text-xs text-secondary mb-0">Юридический отдел</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <span class="badge badge-sm bg-gradient-success">Активно</span>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Изменить
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="align-middle">
                      <div class="d-flex px-2 py-1">
                        <h6 class="mb-0 text-sm">Разработка сайта</h6>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="{% static 'img/team-2.jpg' %}" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="text-xs font-weight-bold mb-0">Игорь Иванов</p>
                          <p class="text-xs text-secondary mb-0">Технический отдел</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <span class="badge badge-sm bg-gradient-success">>>>></span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="{% static 'img/team-3.jpg' %}" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="text-xs font-weight-bold mb-0">Анатолий Петров</p>
                          <p class="text-xs text-secondary mb-0">Логистический отдел</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <span class="badge badge-sm bg-gradient-secondary">Окончено</span>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Изменить
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="align-middle">
                      <div class="d-flex px-2 py-1">
                        <h6 class="mb-0 text-sm">Обновление клиента</h6>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="{% static 'img/team-2.jpg' %}" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="text-xs font-weight-bold mb-0">Игорь Иванов</p>
                          <p class="text-xs text-secondary mb-0">Технический отдел</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <span class="badge badge-sm bg-gradient-success">>>>></span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="{% static 'img/team-3.jpg' %}" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="text-xs font-weight-bold mb-0">Анатолий Петров</p>
                          <p class="text-xs text-secondary mb-0">Логистический отдел</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <span class="badge badge-sm bg-gradient-warning">Отклонено</span>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Изменить
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                          <h6 class="mb-0 text-sm">Доставка сервера</h6>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="{% static 'img/team-3.jpg' %}" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="text-xs font-weight-bold mb-0">Анатолий Петров</p>
                          <p class="text-xs text-secondary mb-0">Логистический отдел</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <span class="badge badge-sm bg-gradient-primary">>>>></span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="{% static 'img/team-2.jpg' %}" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="text-xs font-weight-bold mb-0">Игорь Иванов</p>
                          <p class="text-xs text-secondary mb-0">Технический отдел</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <span class="badge badge-sm bg-gradient-success">Активно</span>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Изменить
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>
{% endblock content %}
