{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Home {% endblock title %}

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script type="text/javascript" src="https://michael.verhov.com/content/files/canvas_arrows_for_div/arrows.1.0.0.js"></script>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4" style="height: 1040px;">
          <div class="card-header pb-0">
            <h6>Схема предприятия</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0" id="ex2-common-parent">
              	
              <canvas id="tutorial" width="1480" height="560" style="border: 1px solid #000000; margin-left: 20px;">
                Update your browser to support HTML5 Canvas
                
              </canvas>
              <br>
              <button id="addElement">Добавить элемент</button>
              <input id="addName"></input>
            </div>

          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>

  <script type="text/javascript">
    let ctx = null;
    let elementClick = null;
    let x_before;
    let y_before;
    let arrayCircles = [];
    let elements = [ // элементы для отрисовки
        {
          id: 1,
          name: 'name1',
          style: 'rect',
          color: 'blue',
          width: 200,
          height: 100,
          left: 310,
          top: 35,            
        },
        {
          id: 2,
          name: 'name2',
          style: 'rect',
          color: 'red',
          width: 200,
          height: 100,
          left: 310,
          top: 220,    
        },
        {
          id: 3,
          name: 'name3',
          style: 'rect',
          color: 'yellow',
          width: 200,
          height: 100,
          left: 180,
          top: 420,    
        },
        {
          id: 4,
          name: 'name4',
          style: 'rect',
          color: 'green',
          width: 200,
          height: 100,
          left: 430,
          top: 420,    
        },
        {
          id: 5,
          name: 'name5',
          style: 'rect',
          color: 'black',
          width: 200,
          height: 100,
          left: 640,
          top: 140,    
        },
        {
          id: 6,
          name: 'name6',
          style: 'rect',
          color: 'pink',
          width: 200,
          height: 100,
          left: 640,
          top: 340,    
        },
        {
            id: 7,
            name: 'Отчёт о продажах',
            style: 'arrow',
            start: '1',
            finish: '2',
            color: 'blue',
        },
        {
          id: 8,
            name: 'Остаток на складе',
            style: 'arrow',
            start: '1',
            finish: '2',
            color: 'blue',
        },
        {
            id: 9,
            name: 'arrow3',
            style: 'arrow',
            start: '2',
            finish: '3',
            color: 'blue',
        },
        {
            id: 10,
            name: 'arrow4',
            style: 'arrow',
            start: '2',
            finish: '4',
            color: 'blue',
        },
        {
            id: 11,
            name: 'arrow5',
            style: 'arrow',
            start: '5',
            finish: '6',
            color: 'blue',
        },
        {
            id: 12,
            name: 'arrow6',
            style: 'arrow',
            start: '1',
            finish: '6',
            color: 'blue',
        },

    ];

    function moveMouseOver(event) { // отслеживаем наведение курсора на кликабельные элементы

      let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
      // rects = elements.filter(arElement => arElement.style == 'rect');
      x_move = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
      y_move = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали

      // rects.map(function (el) {
      elements.forEach ( function (el) {
        x_final = el.left + el.width; // правый край элемента по x
        y_final = el.top + el.height; // низ края элемента по y

        if ( (x_move > el.left) && (x_move < x_final) && 
                (y_move > el.top) && (y_move < y_final) )
        {
          document.body.style.cursor = 'pointer';

        } else {
          document.body.style.cursor = 'default';
        }
      });


    };

    // function moveMouseOut(event) { // отслеживаем уход курсора с кликабельных элементов
    //   event.preventDefault();
    //   event.stopPropagation();
    //   let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
    //   rects = elements.filter(arElement => arElement.style == 'rect');
    //   x_move = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
    //   y_move = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали

    //   // rects.map(function (el) {
    //   rects.forEach ( function (el) {
    //     x_final = el.left + el.width; // правый край элемента по x
    //     y_final = el.top + el.height; // низ края элемента по y

    //     if ( (x_move < el.left) || (x_move > x_final) ||
    //             (y_move < el.top) || (y_move > y_final) )
    //     {
    //       document.body.style.cursor = 'default';
        
    //     } else {
    //       document.body.style.cursor = 'pointer';
    //     }
    //     });
    //   };

    function releaseMouseButton () { // отпускаем мышку
        // 5
        elementClick = null;
        document.body.style.cursor = 'default';
    }

    function moveRect (event) { // постоянно отрисовываем при перемещении
        // 4
        if (elementClick == null) {return}
        let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
        x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
        y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали
        desplX = x_click - x_before;
        desplY = y_click - y_before;
        elementClick.left = elementClick.left + desplX;
        elementClick.top = elementClick.top + desplY;
        x_before = x_click;
        y_before = y_click;
        window.requestAnimationFrame(draw);
    }

    function clickByRect (event) { // отслеживаем клик по элементу
        // 3
        let x_click;
        let y_click;
        let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
        x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
        y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали
        x_before = x_click;
        y_before = y_click;
        console.log(x_click);
        console.log(y_click);
        elementClick = null;

        elements.forEach ( function (element) {

            x_final = element.left + element.width; // правый край элемента по x
            y_final = element.top + element.height; // низ края элемента по y
            

            if ( (x_click > element.left) && (x_click < x_final) && 
                (y_click > element.top) && (y_click < y_final) )
            {
                elementClick = element;
                
                console.log(element.name);
            }
            
        });
    }

    function clickTextEdit () { // отслеживаем клик по элементу
        // 3
        let x_click;
        let y_click;
        let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
        x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
        y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали
        x_before = x_click;
        y_before = y_click;

        elementClick = null;

        var text = document.getElementById('addName'); // действие при нажатии на кнопку Добавить

        elements.forEach ( function (element) {

            x_final = element.left + element.width; // правый край элемента по x
            y_final = element.top + element.height; // низ края элемента по y
            

            if ( (x_click > element.left) && (x_click < x_final) && 
                (y_click > element.top) && (y_click < y_final) )
            {
                ctx.clearRect(element.left + 10,element.top + 10 , element.width -20 ,element.height-20);
                ctx.font = "italic 18pt Arial";
                ctx.fillStyle = 'black';
                ctx.textBaseline = 'middle';
                ctx.textAlign = "center";
                ctx.fillText(text.value, element.left+element.width/2, element.top+element.height/2);
                
                // const newPosts = elements.map((element) => (
                //   element.name === "name4"
                //     ? { ...element, text: 'other text' }
                //     : element
                // ));
                
                element.name = text.value
                window.requestAnimationFrame(draw);
            }
            
        });
    }

    function deleteElement () {
        let x_click;
        let y_click;
        let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
        x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
        y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали
        x_before = x_click;
        y_before = y_click;

        elementClick = null;

        var text = document.getElementById('addName'); // действие при нажатии на кнопку Добавить

        elements.forEach ( function (element) {

            x_final = element.left + element.width; // правый край элемента по x
            y_final = element.top + element.height; // низ края элемента по y
            

            if ( (x_click > element.left) && (x_click < x_final) && 
                (y_click > element.top) && (y_click < y_final) )
            {

              var index = elements.map(x => {
                return x.id;
              }).indexOf(element.id);

              elements.splice(index, 1);
              window.requestAnimationFrame(draw);
            }
          });
      }

    function makeCirclesArray () {
      rectElements = finishArrows = elements.filter(item => item.style === "rect")

      rectElements.forEach (function(element){ // отрисовка элемента

        var filter = {
          style: 'arrow',
          start: element.id
        };

        finishArrows = elements.filter(function(item) {
          for (var key in filter) {
            if (item[key] === undefined || item[key] != filter[key])
              return false;
          }
          return true;
        });

        let sPosition = 0
        finishArrows.forEach(function (finishArrow){
          arrayCircles.push({id: arrayCircles.length+1, elementId: element.id, arrowId: finishArrow.id, position: sPosition, type: "startCircle"});
          sPosition += 14;
        });

        var filter = {
          style: 'arrow',
          finish: element.id
        };

        startArrows = elements.filter(function(item) {
          for (var key in filter) {
            if (item[key] === undefined || item[key] != filter[key])
              return false;
          }
          return true;
        });

        // Создаём массив объектов с кружочками
        let fPosition = 0
        startArrows.forEach(function (startArrow){
          arrayCircles.push({id: arrayCircles.length+1, elementId: element.id, arrowId: startArrow.id, position: fPosition, type: "finishCircle"});
          fPosition += 14;
        })
      
      });

      
      console.log("Всего было создано " + arrayCircles.length + " кружков.")
      console.log(arrayCircles)
    }

    function draw () {
        // 2
        canvas = document.getElementById('tutorial');
            let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
            let width = infoPos.width; // получаем ширину элемента
            let height = infoPos.height; // получаем ширину высоту
            ctx.clearRect(0, 0, width, height); // стираем прошлый кадр
            ctx.beginPath();

            i = 0
            elements.forEach (function(element){ // отрисовка элемента

                if (element.style == 'rect') {
                  
                  ctx.fillStyle = element.color;
                  ctx.strokeStyle = element.color;

                  // Квадрат - обводка
                  ctx.fillRect(element.left, element.top, element.width, element.height);
                  ctx.fillStyle = 'white';
                  ctx.fillRect(element.left+10, element.top+10, element.width-20, element.height-20);
                  // Квадрат белый внутри обводки
                  
                  ctx.font = "italic 8pt Arial";
                  ctx.fillStyle = 'black';
                  ctx.textBaseline = 'middle';
                  ctx.textAlign = "center";
                  ctx.fillText(element.name, element.left+element.width/2, element.top+element.height/2);

                  // var filter = {
                  //   style: 'arrow',
                  //   start: element.id
                  // };

                  // finishArrows = elements.filter(function(item) {
                  //   for (var key in filter) {
                  //     if (item[key] === undefined || item[key] != filter[key])
                  //       return false;
                  //   }
                  //   return true;
                  // });

                  
                  // finishArrows.forEach(function (finishArrow){
                  //   arrayCircles.push({id: arrayCircles.length+1, elementId: element.id, type: "startCircle"})
                  // })
                  
                  

                  // switch (finishArrows.length) {
                  //   case 0:
                  //     drawCircle(element.left+element.width/2, element.top+element.height);
                  //     break;
                  //   case 1:
                  //     drawCircle(element.left+element.width/2 - 7, element.top+element.height);
                  //     drawCircle(element.left+element.width/2 + 7, element.top+element.height);
                  //     break;
                  //   case 2:
                  //     drawCircle(element.left+element.width/2 - 14, element.top+element.height);
                  //     drawCircle(element.left+element.width/2, element.top+element.height);
                  //     drawCircle(element.left+element.width/2 + 14, element.top+element.height);
                  //     break;
                  //   case 3:
                  //     drawCircle(element.left+element.width/2 - 21, element.top+element.height);
                  //     drawCircle(element.left+element.width/2 - 7, element.top+element.height);
                  //     drawCircle(element.left+element.width/2 + 7, element.top+element.height);
                  //     drawCircle(element.left+element.width/2 + 21, element.top+element.height);
                  //     break;
                  //   case 4:
                  //     drawCircle(element.left+element.width/2 - 28, element.top+element.height);
                  //     drawCircle(element.left+element.width/2 - 14, element.top+element.height);
                  //     drawCircle(element.left+element.width/2 + 0, element.top+element.height);
                  //     drawCircle(element.left+element.width/2 + 14, element.top+element.height);
                  //     drawCircle(element.left+element.width/2 + 28, element.top+element.height);
                  //     break;
                  //   default:

                  // }

                  // var filter = {
                  //   style: 'arrow',
                  //   finish: element.id
                  // };

                  // startArrows = elements.filter(function(item) {
                  //   for (var key in filter) {
                  //     if (item[key] === undefined || item[key] != filter[key])
                  //       return false;
                  //   }
                  //   return true;
                  // });

                  // // Создаём массив объектов с кружочками
                  // startArrows.forEach(function (startArrow){
                  //             arrayCircles.push({id: arrayCircles.length+1, elementId: element.id, type: "finishCircle"})
                  //           })

                  aC = arrayCircles.filter(item => item.elementId === element.id)

                  f = 0;
                  s = 0;
                  aC.forEach( function (item){
                    if (item.type === "finishCircle") {
                      drawCircle(element.left+element.width/2+f, element.top);
                      f += 14
                    } else {
                      drawCircle(element.left+element.width/2+s, element.top + element.height);
                      s += 14
                    }
                  })
                  drawCircle(element.left+element.width/2+f, element.top);
                  drawCircle(element.left+element.width/2+s, element.top + element.height);

                  // switch (startArrows.length) {
                  //   case 0:
                  //     drawCircle(element.left+element.width/2, element.top);
                  //     break;
                  //   case 1:
                  //     drawCircle(element.left+element.width/2 - 7, element.top);
                  //     drawCircle(element.left+element.width/2 + 7, element.top);
                  //     break;
                  //   case 2:
                  //     drawCircle(element.left+element.width/2 - 14, element.top);
                  //     drawCircle(element.left+element.width/2, element.top);
                  //     drawCircle(element.left+element.width/2 + 14, element.top);
                  //     break;
                  //   case 3:
                  //     drawCircle(element.left+element.width/2 - 14, element.top);
                  //     drawCircle(element.left+element.width/2 - 7, element.top);
                  //     drawCircle(element.left+element.width/2 + 7, element.top);
                  //     drawCircle(element.left+element.width/2 + 14, element.top);
                  //     break;
                  //   default:
                  // }

                  // console.log("У элемента "+ element.name + " начальных кругов " + startArrows.length + " и конечных кругов " + finishArrows.length)

                } else if (element.style == 'arrow') {
                  // ctx.fillStyle = element.color;
                  // i += 1
                  ctx.beginPath();
                  // ctx.strokeStyle = element.color; // цвет линии
                  // ctx.lineWidth = 2; // толщина линии

                  var filter = {
                    style: 'arrow',
                    start: element.start
                  };

                  startRects = elements.filter(function(item) {
                    for (var key in filter) {
                      if (item[key] === undefined || item[key] != filter[key])
                        return false;
                    }
                    return true;
                  });

                  var filter = {
                    style: 'arrow',
                    finish: element.finish
                  };

                  finishRects = elements.filter(function(item) {
                    for (var key in filter) {
                      if (item[key] === undefined || item[key] != filter[key])
                        return false;
                    }
                    return true;
                  });


                  // allElements = elements.filter(arElement => arElement.style === "rect");

                  // console.log("Стрелка " + element.name + " с началом в " + element.start + " и окончанием в " + element.finish + 
                    // ". Всего startRects " + startRects.length + " и finishRects " + finishRects.length + ". повторений: " + i)

                  // if (startElements.length === 2) {
                  //   if (finishElements.length === 1) {
                  //     drawArrow(allElements, element.name, element.start, element.finish, -14, -7);
                  //     drawArrow(allElements, element.name, element.start, element.finish, 0, -7);
                  //   }
                  // }

                  // if ( (startElements.length === 2) && (finishElements.length === 1) ) {
                  //     drawArrow(allElements, element.name, element.start, element.finish, -14, -7);
                  //     // drawArrow(allElements, element.name, element.start, element.finish, 0, -7);
                    
                  // }

                  // console.log("Стрелка " + element.name + " Вызвали 5")

                  var filter = {
                    elementId: Number(element.start),
                    type: "startCircle",
                    arrowId: element.id
                  };

                  aC = arrayCircles.find(function(item) {
                    for (var key in filter) {
                      if (item[key] === undefined || item[key] != filter[key])
                        return false;
                    }
                    return item;
                  });

                  let circleStart = arrayCircles.filter(item => item.arrowId === element.id).find(item => item.type === "startCircle");
                  let circleFinish = arrayCircles.filter(item => item.arrowId === element.id).find(item => item.type === "finishCircle");

                  // var aC = arrayCircles.filter(item => item.elementId === Number(element.start))
                  // console.log(element.name + " стартовый кружок " + aC.length + " Смещение: " + circleStart.position + " / " + circleFinish.position)

                  f = 0;
                  // s = 0;
                  // aC.forEach( function (item){
                  //     drawArrow(element.name, element.start, element.finish, 0+f, 0+f);
                  //     // console.log("Стрелка " + element.name )
                  //     f += 14
                  // })
                  drawArrow(element.name, element.start, element.finish, 0+circleStart.position, 0+circleFinish.position);
                  // drawArrow(element.name, element.start, element.finish, 0, 0);


                          
                  // aC = arrayCircles.filter(item => item.elementId === Number(element.finish))

                  // i = 0;
                  // aC.forEach( function (item){
                  //   if (item.type === "finishCircle") {
                  //     drawArrow(element.name, element.start, element.finish, 0+i, 0+i);
                  //     i += 14
                  //   }
                  // })

   

                }
            });
    }

    function drawCircle(x, y) {
      // Круг под квадратом
      ctx.beginPath();
      ctx.fillStyle = 'white'
      ctx.strokeStyle = 'blue'
      ctx.moveTo(x, y);
      ctx.arc(x, y, 5, 0, 360, false);
      ctx.fill();
      ctx.stroke();
    }

    function drawArrow (elementName, arrowStart, arrowFinish, positionStart=0, positionFinish=0) {
      // console.log("Рисуем стрелку " + elementName)
      // console.log("Массив arrayCircles " + arrayCircles.length)

      startElement = elements.find(element => element.id === Number(arrowStart))
      finishElement = elements.find(element => element.id === Number(arrowFinish))

      fromx = startElement.left + startElement.width/2 + positionStart;
      fromy = startElement.top + startElement.height + 10

      ctx.moveTo(fromx, fromy);
      
      tox = finishElement.left + finishElement.width/2 + positionFinish;
      toy = finishElement.top - 10;

      ctx.lineTo(tox, toy);

      var dx = tox - fromx;
      var dy = toy - fromy;
      var angle = Math.atan2(dy, dx)

      ctx.lineTo(tox - 10 * Math.cos(angle - Math.PI / 6), toy -10 * Math.sin(angle - Math.PI / 6));
      ctx.moveTo(tox, toy);
      ctx.lineTo(tox - 10 * Math.cos(angle + Math.PI / 6), toy - 10 * Math.sin(angle + Math.PI / 6));

      ctx.stroke();

      ctx.font = "italic 8pt Arial";
      ctx.fillStyle = 'black';

      var p1 = {x:fromx,y:fromy};
	    var p2 = {x:tox,y:toy};	
	
	    ctx.textBaseline = 'bottom';
      drawLabel(elementName, p1, p2 )
    }

    function drawLabel(text, p1, p2, alignment = 'center', padding = 0){
      
      var dx = p2.x - p1.x;
      var dy = p2.y - p1.y;
      var len = Math.sqrt(dx*dx+dy*dy);
      var avail = len - 2*padding;
      
      var textToDraw = text;
      if (ctx.measureText && ctx.measureText(textToDraw).width > avail){
        while (textToDraw && ctx.measureText(textToDraw+"…").width > avail) textToDraw = textToDraw.slice(0,-1);
        textToDraw += "…";
      }

      // Текст всегда рядом с линией
      var angle = Math.atan2(dy,dx);
      if (angle < -Math.PI/2 || angle > Math.PI/2){
        var p = p1;
        p1 = p2;
        p2 = p;
        dx *= -1;
        dy *= -1;
        angle -= Math.PI;
      }
      
      var p, pad;
      if (alignment=='center'){
        p = p1;
        pad = 1/2;
      } else {
        var left = alignment=='left';
        p = left ? p1 : p2;
        pad = padding / len * (left ? 1 : -1);
      }
      ctx.save();
      ctx.textAlign = alignment;
      ctx.translate(p.x+dx*pad,p.y+dy*pad);
      ctx.rotate(angle);
      ctx.fillText(textToDraw,0,0);
      ctx.restore();
    }

    function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    var button = document.getElementById('addElement'); // действие при нажатии на кнопку Добавить
    button.addEventListener("click", function() {
      // amount = elements.filter(arElement => arElement.style === 'rect');
      elements.push({
      // id: amount.length + 1,
      id: elements.length + 1,
      name: document.getElementById('addName').value,
      style: 'rect',
      color: getRandomColor(),
      width: 200,
      height: 100,
      top: 100,
      left: 0
    })
      arrayCircles.forEach( function (item){
        console.log(item)
      })
      window.requestAnimationFrame(draw);
    });

    function initialization() { // точка входа
        // 1
        canvas = document.getElementById('tutorial'); // Получаем тэг Канвас
        canvas.addEventListener('mousedown', clickByRect);
        canvas.addEventListener('dblclick', clickTextEdit);
        canvas.addEventListener('contextmenu', deleteElement);
        canvas.addEventListener('mousemove', moveRect);
        canvas.addEventListener('mousemove', moveMouseOver);
        // canvas.addEventListener('mousemove', moveMouseOut);
        canvas.addEventListener('mouseup', releaseMouseButton);

        makeCirclesArray(); // Создаём массив с кружками для построения стрелок


        if (canvas.getContext) { // проверка
            ctx = canvas.getContext('2d');
            draw();
        }
    }

    initialization();

</script>

  {% endblock content %}


