{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Home {% endblock title %}

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script type="text/javascript" src="https://michael.verhov.com/content/files/canvas_arrows_for_div/arrows.1.0.0.js"></script>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4" style="height: 1040px;">
          <div class="card-header pb-0">
            <h6>Схема предприятия</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0" id="ex2-common-parent">
              	
              <canvas id="tutorial" width="1480" height="560" style="border: 1px solid #000000; margin-left: 20px;">
                Update your browser to support HTML5 Canvas
                
              </canvas>
              <br>
              <button id="addElement">Добавить элемент</button>

            </div>

          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>

  <script type="text/javascript">
    let ctx = null;
    let elementClick = null;
    let x_before;
    let y_before;
    let elements = [ // элементы для отрисовки
        {
            name: 'name1',
            style: 'rect',
            color: 'blue',
            width: 100,
            height: 100,
            left: 310,
            top: 35,            
        },
        {
            name: 'name2',
            style: 'rect',
            color: 'red',
            width: 100,
            height: 100,
            left: 310,
            top: 220,    
        },
        {
            name: 'name3',
            style: 'rect',
            color: 'yellow',
            width: 100,
            height: 100,
            left: 180,
            top: 420,    
        },
        {
            name: 'name4',
            style: 'rect',
            color: 'green',
            width: 100,
            height: 100,
            left: 430,
            top: 420,    
        },
        {
            name: 'name5',
            style: 'rect',
            color: 'black',
            width: 100,
            height: 100,
            left: 620,
            top: 140,    
        },
        {
            name: 'name6',
            style: 'rect',
            color: 'pink',
            width: 100,
            height: 100,
            left: 620,
            top: 340,    
        },
        {
            name: 'arrow1',
            style: 'arrow',
            start: 'name1',
            finish: 'name2',
            color: 'blue',
        },
        {
            name: 'arrow2',
            style: 'arrow',
            start: 'name1',
            finish: 'name2',
            color: 'blue',
        },
        {
            name: 'arrow3',
            style: 'arrow',
            start: 'name2',
            finish: 'name3',
            color: 'blue',
        },
        {
            name: 'arrow4',
            style: 'arrow',
            start: 'name2',
            finish: 'name4',
            color: 'blue',
        },
        {
            name: 'arrow5',
            style: 'arrow',
            start: 'name5',
            finish: 'name6',
            color: 'blue',
        },


    ];

    function moveMouseOver(event) { // отслеживаем наведение курсора на кликабельные элементы

      let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
      // rects = elements.filter(arElement => arElement.style == 'rect');
      x_move = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
      y_move = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали

      // rects.map(function (el) {
      elements.forEach ( function (el) {
        x_final = el.left + el.width; // правый край элемента по x
        y_final = el.top + el.height; // низ края элемента по y

        if ( (x_move > el.left) && (x_move < x_final) && 
                (y_move > el.top) && (y_move < y_final) )
        {
          document.body.style.cursor = 'pointer';

        } else {
          document.body.style.cursor = 'default';
        }
      });


    };

    // function moveMouseOut(event) { // отслеживаем уход курсора с кликабельных элементов
    //   event.preventDefault();
    //   event.stopPropagation();
    //   let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
    //   rects = elements.filter(arElement => arElement.style == 'rect');
    //   x_move = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
    //   y_move = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали

    //   // rects.map(function (el) {
    //   rects.forEach ( function (el) {
    //     x_final = el.left + el.width; // правый край элемента по x
    //     y_final = el.top + el.height; // низ края элемента по y

    //     if ( (x_move < el.left) || (x_move > x_final) ||
    //             (y_move < el.top) || (y_move > y_final) )
    //     {
    //       document.body.style.cursor = 'default';
        
    //     } else {
    //       document.body.style.cursor = 'pointer';
    //     }
    //     });
    //   };

    function releaseMouseButton () { // отпускаем мышку
        // 5
        elementClick = null;
        document.body.style.cursor = 'default';
    }

    function moveRect (event) { // постоянно отрисовываем при перемещении
        // 4
        if (elementClick == null) {return}
        let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
        x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
        y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали
        desplX = x_click - x_before;
        desplY = y_click - y_before;
        elementClick.left = elementClick.left + desplX;
        elementClick.top = elementClick.top + desplY;
        x_before = x_click;
        y_before = y_click;
        window.requestAnimationFrame(draw);
    }

    function clickByRect (event) { // отслеживаем клик по элементу
        // 3
        let x_click;
        let y_click;
        let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
        x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
        y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали
        x_before = x_click;
        y_before = y_click;
        console.log(x_click);
        console.log(y_click);
        elementClick = null;

        elements.forEach ( function (element) {

            x_final = element.left + element.width; // правый край элемента по x
            y_final = element.top + element.height; // низ края элемента по y
            

            if ( (x_click > element.left) && (x_click < x_final) && 
                (y_click > element.top) && (y_click < y_final) )
            {
                elementClick = element;
                
                console.log(element.name);
            }
            
        });
    }

    function draw () {
        // 2
        canvas = document.getElementById('tutorial');
            let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
            let width = infoPos.width; // получаем ширину элемента
            let height = infoPos.height; // получаем ширину высоту
            ctx.clearRect(0, 0, width, height); // стираем прошлый кадр
            ctx.beginPath();

            i = 0
            elements.forEach (function(element){ // отрисовка элемента

                if (element.style == 'rect') {
                  
                  ctx.fillStyle = element.color;
                  ctx.strokeStyle = element.color;

                  // Квадрат - обводка
                  ctx.fillRect(element.left, element.top, element.width, element.height);
                  ctx.fillStyle = 'white';
                  ctx.fillRect(element.left+10, element.top+10, element.width-20, element.height-20);
                  // Квадрат белый внутри обводки
                  
                  ctx.font = "italic 18pt Arial";
                  ctx.fillStyle = 'black';
                  ctx.textBaseline = 'middle';
                  ctx.textAlign = "center";
                  ctx.fillText(element.name, element.left+element.width/2, element.top+element.height/2);

                  var filter = {
                    style: 'arrow',
                    start: element.name
                  };

                  finishArrows = elements.filter(function(item) {
                    for (var key in filter) {
                      if (item[key] === undefined || item[key] != filter[key])
                        return false;
                    }
                    return true;
                  });

                  switch (finishArrows.length) {
                    case 0:
                      drawCircle(element.left+element.width/2, element.top+element.height);
                      break;
                    case 1:
                      drawCircle(element.left+element.width/2 - 7, element.top+element.height);
                      drawCircle(element.left+element.width/2 + 7, element.top+element.height);
                      break;
                    case 2:
                      drawCircle(element.left+element.width/2 - 14, element.top+element.height);
                      drawCircle(element.left+element.width/2, element.top+element.height);
                      drawCircle(element.left+element.width/2 + 14, element.top+element.height);
                      break;
                    case 3:
                      drawCircle(element.left+element.width/2 - 21, element.top+element.height);
                      drawCircle(element.left+element.width/2 - 7, element.top+element.height);
                      drawCircle(element.left+element.width/2 + 7, element.top+element.height);
                      drawCircle(element.left+element.width/2 + 21, element.top+element.height);
                      break;
                    case 4:
                      drawCircle(element.left+element.width/2 - 28, element.top+element.height);
                      drawCircle(element.left+element.width/2 - 14, element.top+element.height);
                      drawCircle(element.left+element.width/2 + 0, element.top+element.height);
                      drawCircle(element.left+element.width/2 + 14, element.top+element.height);
                      drawCircle(element.left+element.width/2 + 28, element.top+element.height);
                      break;
                    default:

                  }

                  var filter = {
                    style: 'arrow',
                    finish: element.name
                  };

                  startArrows = elements.filter(function(item) {
                    for (var key in filter) {
                      if (item[key] === undefined || item[key] != filter[key])
                        return false;
                    }
                    return true;
                  });

                  switch (startArrows.length) {
                    case 0:
                      drawCircle(element.left+element.width/2, element.top);
                      break;
                    case 1:
                      drawCircle(element.left+element.width/2 - 7, element.top);
                      drawCircle(element.left+element.width/2 + 7, element.top);
                      break;
                    case 2:
                      drawCircle(element.left+element.width/2 - 14, element.top);
                      drawCircle(element.left+element.width/2, element.top);
                      drawCircle(element.left+element.width/2 + 14, element.top);
                      break;
                    case 3:
                      drawCircle(element.left+element.width/2 - 14, element.top);
                      drawCircle(element.left+element.width/2 - 7, element.top);
                      drawCircle(element.left+element.width/2 + 7, element.top);
                      drawCircle(element.left+element.width/2 + 14, element.top);
                      break;
                    default:

                  }
                  console.log("У элемента "+ element.name + " начальных кругов " + startArrows.length + " и конечных кругов " + finishArrows.length)

                } else if (element.style == 'arrow') {
                  // ctx.fillStyle = element.color;
                  i += 1
                  ctx.beginPath();
                  // ctx.strokeStyle = element.color; // цвет линии
                  // ctx.lineWidth = 2; // толщина линии

                  var startElements = elements.filter(arElement => arElement.start === element.start);
                  var finishElements = elements.filter(arElement => arElement.finish === element.finish);
                  allElements = elements.filter(arElement => arElement.style === "rect");

                  console.log("Стрелка " + element.name + " с началом в " + element.start + " и окончанием в " + element.finish + 
                    ". Всего startElements " + startElements.length + " и finishElements " + finishElements.length + ". повторений: " + i)

                  // if (startElements.length === 2) {
                  //   if (finishElements.length === 1) {
                  //     drawArrow(allElements, element.name, element.start, element.finish, -14, -7);
                  //     drawArrow(allElements, element.name, element.start, element.finish, 0, -7);
                  //   }
                  // }

                  // if ( (startElements.length === 2) && (finishElements.length === 1) ) {
                  //     drawArrow(allElements, element.name, element.start, element.finish, -14, -7);
                  //     // drawArrow(allElements, element.name, element.start, element.finish, 0, -7);
                    
                  // }

                  switch (startElements.length) {
                    case 1:
                      switch (finishElements.length) {
                        case 1:
                          drawArrow(allElements, element.name, element.start, element.finish, -7, -7);
                          break;
                        case 2:
                          drawArrow(allElements, element.name, element.start, element.finish, -7, -14);
                          break;
                        default:
                          alert( 'We hope that this page looks ok!' );
                      }
                      break;
                    case 2:
                     switch (finishElements.length) {
                        case 1:

                          drawArrow(allElements, element.name, element.start, element.finish, -14, -7);
                          drawArrow(allElements, element.name, element.start, element.finish, 0, -7);
                          break;
                        case 2:

                          drawArrow(allElements, element.name, element.start, element.finish, -14, -14);
                          drawArrow(allElements, element.name, element.start, element.finish, 0, 0);
                          break;
                        default:
                          alert( 'We hope that this page looks ok!' );
                      }
                      break;
                    case 3:
                      console.log("Их 3")
                      break;
                    default:
                      alert( 'We hope that this page looks ok!' );

                  }

                }
            });
    }

    function drawCircle(x, y) {
      // Круг под квадратом
      ctx.beginPath();
      ctx.fillStyle = 'white'
      ctx.strokeStyle = 'blue'
      ctx.moveTo(x, y);
      ctx.arc(x, y, 5, 0, 360, false);
      ctx.fill();
      ctx.stroke();
    }

    function drawArrow (allElements, elementName, arrowStart, arrowFinish, positionStart=0, positionFinish=0) {
      
      startElement = allElements.find(element => element.name === arrowStart)
      finishElement = allElements.find(element => element.name === arrowFinish)
         
      fromx = startElement.left + startElement.width/2 + positionStart;
      fromy = startElement.top + startElement.height + 10

      ctx.moveTo(fromx, fromy);
      
      tox = finishElement.left + finishElement.width/2 + positionFinish;
      toy = finishElement.top - 10;

      ctx.lineTo(tox, toy);

      var dx = tox - fromx;
      var dy = toy - fromy;
      var angle = Math.atan2(dy, dx)

      ctx.lineTo(tox - 10 * Math.cos(angle - Math.PI / 6), toy -10 * Math.sin(angle - Math.PI / 6));
      ctx.moveTo(tox, toy);
      ctx.lineTo(tox - 10 * Math.cos(angle + Math.PI / 6), toy - 10 * Math.sin(angle + Math.PI / 6));

      
      ctx.moveTo(tox, toy);
      ctx.stroke();
      ctx.font = "italic 8pt Arial";
      ctx.fillStyle = 'black';
      ctx.textBaseline = 'middle';
      ctx.textAlign = "center";
      ctx.fillText(elementName, tox+positionFinish*3, toy);
    }

    function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    var button = document.getElementById('addElement'); // действие при нажатии на кнопку Добавить
    button.addEventListener("click", function() {
      amount = elements.filter(arElement => arElement.style === 'rect');
      elements.push({
      name: amount.length + 1,
      style: 'rect',
      color: getRandomColor(),
      width: 100,
      height: 100,
      top: 100,
      left: 0
    })
      window.requestAnimationFrame(draw);
    });

    function initialization() { // точка входа
        // 1
        canvas = document.getElementById('tutorial'); // Получаем тэг Канвас
        canvas.addEventListener('mousedown', clickByRect);
        canvas.addEventListener('mousemove', moveRect);
        canvas.addEventListener('mousemove', moveMouseOver);
        // canvas.addEventListener('mousemove', moveMouseOut);
        canvas.addEventListener('mouseup', releaseMouseButton);
        if (canvas.getContext) { // проверка
            ctx = canvas.getContext('2d');
            draw();
        }
    }

    initialization();

</script>

  {% endblock content %}


