{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Home {% endblock title %}

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script type="text/javascript" src="https://michael.verhov.com/content/files/canvas_arrows_for_div/arrows.1.0.0.js"></script>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4" style="height: 1040px;">
          <div class="card-header pb-0">
            <h6>Схема предприятия</h6>
          </div>
          <div class="modalBackground">
            <div class="modalActive">
                <div class="modalClose">
                    X
                </div>
                <div class="modalWindow">
                  <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Наименование</label>
                      <input type="text" class="form-control" id="elementName" placeholder="name@example.com">
                    </div>
                  </form>
                  <button type="button" class="btn btn-success">Сохранить</button>
                  <button type="button" class="btn btn-secondary" id="closeElementWindow">Отменить</button>
                </div>
            </div>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0" id="ex2-common-parent">
              	
              <canvas id="tutorial" width="1480" height="560" style="border: 1px solid #000000; margin-left: 20px;">
                Update your browser to support HTML5 Canvas
                
              </canvas>
              <br>
              <button id="addElement">Добавить элемент</button>
              <input id="addName"></input>

            </div>

          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>

  <script type="text/javascript">
    let ctx = null;
    let elementClick = null;
    let circleClick = null;
    let x_before;
    let y_before;
    let arrayCircles = [];
    let elements = [ // элементы для отрисовки
        {
          id: 1,
          name: 'name1',
          style: 'rect',
          color: 'blue',
          width: 200,
          height: 100,
          left: 310,
          top: 35,            
        },
        {
          id: 2,
          name: 'name2',
          style: 'rect',
          color: 'red',
          width: 200,
          height: 100,
          left: 310,
          top: 220,    
        },
        {
          id: 3,
          name: 'name3',
          style: 'rect',
          color: 'yellow',
          width: 200,
          height: 100,
          left: 180,
          top: 420,    
        },
        {
          id: 4,
          name: 'name4',
          style: 'rect',
          color: 'green',
          width: 200,
          height: 100,
          left: 430,
          top: 420,    
        },
        {
          id: 5,
          name: 'name5',
          style: 'rect',
          color: 'black',
          width: 200,
          height: 100,
          left: 640,
          top: 140,    
        },
        {
          id: 6,
          name: 'name6',
          style: 'rect',
          color: 'pink',
          width: 200,
          height: 100,
          left: 640,
          top: 340,    
        },
        {
            id: 7,
            name: 'Отчёт о продажах',
            style: 'arrow',
            start: '1',
            finish: '2',
            color: 'blue',
        },
        {
          id: 8,
            name: 'Остаток на складе',
            style: 'arrow',
            start: '1',
            finish: '2',
            color: 'blue',
        },
        {
            id: 9,
            name: 'arrow3',
            style: 'arrow',
            start: '2',
            finish: '3',
            color: 'blue',
        },
        {
            id: 10,
            name: 'arrow4',
            style: 'arrow',
            start: '2',
            finish: '4',
            color: 'blue',
        },
        {
            id: 11,
            name: 'arrow5',
            style: 'arrow',
            start: '5',
            finish: '6',
            color: 'blue',
        },
        {
            id: 12,
            name: 'arrow6',
            style: 'arrow',
            start: '1',
            finish: '6',
            color: 'blue',
        },

    ];

    function moveMouseOver(event) { // В зависимости от положения курсора меняем его внешний вид

      let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
      x_move = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
      y_move = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали

      // rects.map(function (el) {
      elements.forEach ( function (el) {
        x_final = el.left + el.width; // правый край элемента по x
        y_final = el.top + el.height; // низ края элемента по y

        if ( (x_move > el.left) && (x_move < x_final) && 
                (y_move > el.top) && (y_move < y_final) )
        {
          document.body.style.cursor = 'pointer';

        } else {
          document.body.style.cursor = 'default';
        }
      });


    };

    // function moveMouseOut(event) { // отслеживаем уход курсора с кликабельных элементов
    //   event.preventDefault();
    //   event.stopPropagation();
    //   let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
    //   rects = elements.filter(arElement => arElement.style == 'rect');
    //   x_move = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
    //   y_move = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали

    //   // rects.map(function (el) {
    //   rects.forEach ( function (el) {
    //     x_final = el.left + el.width; // правый край элемента по x
    //     y_final = el.top + el.height; // низ края элемента по y

    //     if ( (x_move < el.left) || (x_move > x_final) ||
    //             (y_move < el.top) || (y_move > y_final) )
    //     {
    //       document.body.style.cursor = 'default';
        
    //     } else {
    //       document.body.style.cursor = 'pointer';
    //     }
    //     });
    //   };

    function releaseMouseButton () { // отпускаем мышку
        
        elementClick = null; // Убираем квадрат из памяти

        if (circleClick != null) {

          // Находим точку привязки для окончания стрелки
          let x_click;
          let y_click;
          let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
          x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
          y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали

          circleFinish = null;

          arrayCircles.filter(item => item.arrowId === 0).filter(item => item.type === "finishCircle").forEach ( function (circle) {

              x_final = circle.left + 10; // правый край элемента по x
              y_final = circle.top + 10; // низ края элемента по y
              

              if ( (x_click > circle.left-10) && (x_click < x_final) && 
                  (y_click > circle.top-10) && (y_click < y_final) )
              {
                circleFinish = circle;
              }
          });
        
          // Добавляет в массив новую стрелку
          if (circleFinish != null) {
            elements.push({
              id: elements.length + 1,
              name: 'arrow',
              style: 'arrow',
              start: circleClick.elementId.toString(),
              finish: circleFinish.elementId,
              color: 'blue',
            });
            console.log(elements)
          }

          makeCirclesArray(); // Обновляем массив кружков
          circleClick = null; // Удаляем из памяти информацию о выборе кружка
        }
        
        document.body.style.cursor = 'default';
        window.requestAnimationFrame(draw);
    }

    function moveRect (event) { // постоянно отрисовываем при перемещении
        // 4
        if (elementClick == null) {return}
        let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
        x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
        y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали
        desplX = x_click - x_before;
        desplY = y_click - y_before;
        elementClick.left = elementClick.left + desplX;
        elementClick.top = elementClick.top + desplY;
        x_before = x_click;
        y_before = y_click;
        window.requestAnimationFrame(draw);
    }

    function moveArrow (event) { // рисуем новую стрелку
        // 4
        if (circleClick == null) {return}
        
        // console.log(event.clientX)
        // ctx.moveTo(circleClick.left, circleClick.top)
        let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
        x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
        y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали
        // ctx.lineTo(x_click, y_click)
        // ctx.stroke();

        // desplX = x_click - x_before;
        // desplY = y_click - y_before;
        // elementClick.left = elementClick.left + desplX;
        // elementClick.top = elementClick.top + desplY;
        // x_before = x_click;
        // y_before = y_click;
        window.requestAnimationFrame(draw);
    }

    function clickByBlankCircle (event) { // отслеживаем клик по постому кружку для отрисовки новой стрелки
        // 3
        
        let x_click;
        let y_click;
        let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
        x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
        y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали

        console.log(x_click);
        console.log(y_click);
        // elementClick = null;

        arrayCircles.filter(item => item.arrowId === 0).filter(item => item.type === "startCircle").forEach ( function (circle) {

            x_final = circle.left + 10; // правый край элемента по x
            y_final = circle.top + 10; // низ края элемента по y
            

            if ( (x_click > circle.left-10) && (x_click < x_final) && 
                (y_click > circle.top-10) && (y_click < y_final) )
            {
              document.body.style.cursor = 'crosshair';
              ctx.beginPath();
              ctx.moveTo(x_click,y_click)
              
              circleClick = circle;

              console.log(circle.arrowId);
            }
            
        });

    }

    function clickByRect (event) { // отслеживаем клик по элементу
        // 3
        let x_click;
        let y_click;
        let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
        x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
        y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали
        x_before = x_click;
        y_before = y_click;
        console.log(x_click);
        console.log(y_click);
        elementClick = null;

        elements.forEach ( function (element) {

            x_final = element.left + element.width; // правый край элемента по x
            y_final = element.top + element.height; // низ края элемента по y
            

            if ( (x_click > element.left) && (x_click < x_final) && 
                (y_click > element.top) && (y_click < y_final) )
            {
                elementClick = element;
                
                console.log(element.name);
            }
            
        });
    }

    function clickTextEdit () { // Добавляем или меняем название на элементе
        // 3
        openElementWindow();
        let x_click;
        let y_click;
        let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
        x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
        y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали
        x_before = x_click;
        y_before = y_click;

        elementClick = null;

        // var text = document.getElementById('addName'); // действие при нажатии на кнопку Добавить

        elements.forEach ( function (element) {

            x_final = element.left + element.width; // правый край элемента по x
            y_final = element.top + element.height; // низ края элемента по y
            

            if ( (x_click > element.left) && (x_click < x_final) && 
                (y_click > element.top) && (y_click < y_final) )
            {
                // ctx.clearRect(element.left + 10,element.top + 10 , element.width -20 ,element.height-20);
                // ctx.font = "italic 18pt Arial";
                // ctx.fillStyle = 'black';
                // ctx.textBaseline = 'middle';
                // ctx.textAlign = "center";
                // ctx.fillText(text.value, element.left+element.width/2, element.top+element.height/2);
                
                // element.name = text.value
                document.getElementById('elementName').value = element.name; // действие при нажатии на кнопку Добавить

                // document.getElementById('addName').value = ""
                window.requestAnimationFrame(draw);
            }
            
        });
    }

    function deleteElement () {
        let x_click;
        let y_click;
        let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
        x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
        y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали
        x_before = x_click;
        y_before = y_click;

        elementClick = null;

        var text = document.getElementById('addName'); // действие при нажатии на кнопку Добавить

        elements.forEach ( function (element) {

            x_final = element.left + element.width; // правый край элемента по x
            y_final = element.top + element.height; // низ края элемента по y
            

            if ( (x_click > element.left) && (x_click < x_final) && 
                (y_click > element.top) && (y_click < y_final) )
            {

              var index = elements.map(x => {
                return x.id;
              }).indexOf(element.id);

              elements.splice(index, 1);
              window.requestAnimationFrame(draw);
            }
          });
      }

    function makeCirclesArray () {
      // переопределяем массив с кружками
      arrayCircles.length = 0;

      rectElements = finishArrows = elements.filter(item => item.style === "rect")

      rectElements.forEach (function(element){ // отрисовка элемента

        var filter = {
          style: 'arrow',
          start: element.id
        };

        finishArrows = elements.filter(function(item) {
          for (var key in filter) {
            if (item[key] === undefined || item[key] != filter[key])
              return false;
          }
          return true;
        });

        let position = 0
        finishArrows.forEach(function (finishArrow){
          arrayCircles.push({id: arrayCircles.length+1, elementId: element.id, arrowId: finishArrow.id, position: position, type: "startCircle"});
          position += 14;
        });

        // Добавляем дополнительный круг для слота начала стрелки
        arrayCircles.push({id: arrayCircles.length+1, elementId: element.id, arrowId: 0, position: position, type: "startCircle"});

        var filter = {
          style: 'arrow',
          finish: element.id
        };

        startArrows = elements.filter(function(item) {
          for (var key in filter) {
            if (item[key] === undefined || item[key] != filter[key])
              return false;
          }
          return true;
        });

        // Создаём массив объектов с кружочками
        position = 0
        startArrows.forEach(function (startArrow){
          arrayCircles.push({id: arrayCircles.length+1, elementId: element.id, arrowId: startArrow.id, position: position, type: "finishCircle"});
          position += 14;
        })

        // Добавляем дополнительный круг для слота окончания стрелки
        arrayCircles.push({id: arrayCircles.length+1, elementId: element.id, arrowId: 0, position: position, type: "finishCircle"});

      });

      // console.log(arrayCircles)
    }

    function draw (event) {
        // 2
        canvas = document.getElementById('tutorial');
            let infoPos = canvas.getBoundingClientRect(); // возвращает размер элемента и его позицию относительно viewport 
            let width = infoPos.width; // получаем ширину элемента
            let height = infoPos.height; // получаем ширину высоту
            ctx.clearRect(0, 0, width, height); // стираем прошлый кадр
            ctx.beginPath();
            ctx.strokeStyle = 'blue'

            if (circleClick != null) {
              
              ctx.moveTo(circleClick.left, circleClick.top)
              // x_click = event.clientX - infoPos.left; // пиксель по x внутри тэга canvas на который нажали
              // y_click = event.clientY - infoPos.top; // пиксель по y внутри тэга canvas на который нажали
              ctx.lineTo(x_click, y_click)
              console.log(circleClick.left + " * " + circleClick.top + " / " + x_click, y_click)
              ctx.stroke();
            }

            i = 0
            elements.forEach (function(element){ // отрисовка элемента

                if (element.style == 'rect') {
                  
                  ctx.fillStyle = element.color;
                  ctx.strokeStyle = element.color;

                  // Квадрат - обводка
                  ctx.fillRect(element.left, element.top, element.width, element.height);
                  ctx.fillStyle = 'white';
                  ctx.fillRect(element.left+10, element.top+10, element.width-20, element.height-20);
                  // Квадрат белый внутри обводки
                  
                  ctx.font = "italic 8pt Arial";
                  ctx.fillStyle = 'black';
                  ctx.textBaseline = 'middle';
                  ctx.textAlign = "center";
                  ctx.fillText(element.name, element.left+element.width/2, element.top+element.height/2);

                  aC = arrayCircles.filter(item => item.elementId === element.id)

                  aC.forEach( function (item){
                    if (item.type === "finishCircle") {
                      item.left = element.left+element.width/2+item.position
                      item.top = element.top - 10
                      drawCircle(item.left, item.top, blank=item.arrowId);
                    } else {
                      item.left = element.left+element.width/2+item.position
                      item.top = element.top + element.height + 10
                      drawCircle(item.left, item.top, blank=item.arrowId);
                    }
                  })

                } else if (element.style == 'arrow') {

                  ctx.beginPath();

                  var filter = {
                    style: 'arrow',
                    start: element.start
                  };

                  startRects = elements.filter(function(item) {
                    for (var key in filter) {
                      if (item[key] === undefined || item[key] != filter[key])
                        return false;
                    }
                    return true;
                  });

                  var filter = {
                    style: 'arrow',
                    finish: element.finish
                  };

                  finishRects = elements.filter(function(item) {
                    for (var key in filter) {
                      if (item[key] === undefined || item[key] != filter[key])
                        return false;
                    }
                    return true;
                  });

                  var filter = {
                    elementId: Number(element.start),
                    type: "startCircle",
                    arrowId: element.id
                  };

                  aC = arrayCircles.find(function(item) {
                    for (var key in filter) {
                      if (item[key] === undefined || item[key] != filter[key])
                        return false;
                    }
                    return item;
                  });

                  let circleStart = arrayCircles.filter(item => item.arrowId === element.id).find(item => item.type === "startCircle");
                  let circleFinish = arrayCircles.filter(item => item.arrowId === element.id).find(item => item.type === "finishCircle");

                  drawArrow(element.name, element.start, element.finish, 0+circleStart.position, 0+circleFinish.position);

                }

                // if (circleClick != null) {
                //   console.log("sd")
                //   ctx.beginPath();
                //   ctx.moveTo(circleClick.left, circleClick.top);
                //   ctx.lineTo(event.clickX, event.clickY)
                //   ctx.stroke();
                // }
            });
    }

    function drawCircle(x, y, blank=0) {
      // Круг под квадратом
      ctx.beginPath();
      // ctx.save()
      ctx.fillStyle = 'white'
      ctx.strokeStyle = 'blue'
      // ctx.moveTo(x, y);
      ctx.arc(x, y, 5, 0, 360, false);
      ctx.fill();
      ctx.stroke();

      // Если это пустой круг, то рисуем на нём плюс
      if (blank === 0) {
        ctx.beginPath();
        ctx.moveTo(x-3, y)
        ctx.lineTo(x+3, y)
        ctx.stroke();

        ctx.beginPath();
        ctx.moveTo(x, y-3)
        ctx.lineTo(x, y+3)
        ctx.stroke();

      }

    }

    function drawArrow (elementName, arrowStart, arrowFinish, positionStart=0, positionFinish=0) {
      ctx.beginPath();
      ctx.save()
      startElement = elements.find(element => element.id === Number(arrowStart))
      finishElement = elements.find(element => element.id === Number(arrowFinish))

      fromx = startElement.left + startElement.width/2 + positionStart;
      fromy = startElement.top + startElement.height + 15

      ctx.moveTo(fromx, fromy);
      
      tox = finishElement.left + finishElement.width/2 + positionFinish;
      toy = finishElement.top - 15;

      ctx.lineTo(tox, toy);

      var dx = tox - fromx;
      var dy = toy - fromy;
      var angle = Math.atan2(dy, dx)

      ctx.lineTo(tox - 10 * Math.cos(angle - Math.PI / 6), toy -10 * Math.sin(angle - Math.PI / 6));
      ctx.moveTo(tox, toy);
      ctx.lineTo(tox - 10 * Math.cos(angle + Math.PI / 6), toy - 10 * Math.sin(angle + Math.PI / 6));

      ctx.stroke();

      ctx.font = "italic 8pt Arial";
      ctx.fillStyle = 'black';

      var p1 = {x:fromx,y:fromy};
	    var p2 = {x:tox,y:toy};	
	
	    ctx.textBaseline = 'bottom';
      drawLabel(elementName, p1, p2 )
      ctx.restore();
    }

    function drawLabel(text, p1, p2, alignment = 'center', padding = 0){
      
      var dx = p2.x - p1.x;
      var dy = p2.y - p1.y;
      var len = Math.sqrt(dx*dx+dy*dy);
      var avail = len - 2*padding;
      
      var textToDraw = text;
      if (ctx.measureText && ctx.measureText(textToDraw).width > avail){
        while (textToDraw && ctx.measureText(textToDraw+"…").width > avail) textToDraw = textToDraw.slice(0,-1);
        textToDraw += "…";
      }

      // Текст всегда рядом с линией
      var angle = Math.atan2(dy,dx);
      if (angle < -Math.PI/2 || angle > Math.PI/2){
        var p = p1;
        p1 = p2;
        p2 = p;
        dx *= -1;
        dy *= -1;
        angle -= Math.PI;
      }
      
      var p, pad;
      if (alignment=='center'){
        p = p1;
        pad = 1/2;
      } else {
        var left = alignment=='left';
        p = left ? p1 : p2;
        pad = padding / len * (left ? 1 : -1);
      }
      ctx.save();
      ctx.textAlign = alignment;
      ctx.translate(p.x+dx*pad,p.y+dy*pad);
      ctx.rotate(angle);
      ctx.fillText(textToDraw,0,0);
      ctx.restore();
    }

    function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    var button = document.getElementById('addElement'); // действие при нажатии на кнопку Добавить
    button.addEventListener("click", function() {
      elements.push({
      id: elements.length + 1,
      name: document.getElementById('addName').value,
      style: 'rect',
      color: getRandomColor(),
      width: 200,
      height: 100,
      top: 100,
      left: 0
    })
      makeCirclesArray();
      document.getElementById('addName').value = "";
      window.requestAnimationFrame(draw);
    });

    function initialization() { // точка входа
        // 1
        canvas = document.getElementById('tutorial'); // Получаем тэг Канвас
        canvas.addEventListener('mousedown', clickByRect);
        canvas.addEventListener('mousedown', clickByBlankCircle);
        // canvas.addEventListener('mousedown', clickByBlankCircle).addEventListener('mousemove', );
        canvas.addEventListener('dblclick', clickTextEdit);
        // canvas.addEventListener('contextmenu', deleteElement);
        canvas.addEventListener('mousemove', moveRect);
        canvas.addEventListener('mousemove', moveArrow);
        // canvas.addEventListener('mousemove', moveMouseOver);
        canvas.addEventListener('mouseup', releaseMouseButton);

        makeCirclesArray(); // Создаём массив с кружками для построения стрелок

        if (canvas.getContext) { // проверка
            ctx = canvas.getContext('2d');
            draw();
        }
        console.log(arrayCircles)
    }

    initialization();


    // Работа с модальным окном
    // устанавливаем триггер для модального окна (название можно изменить)
    const modalTrigger = document.getElementsByClassName("trigger")[0];

    // получаем ширину отображенного содержимого и толщину ползунка прокрутки
    const windowInnerWidth = document.documentElement.clientWidth;
    const scrollbarWidth = parseInt(window.innerWidth) - parseInt(document.documentElement.clientWidth);

    // привязываем необходимые элементы
    const bodyElementHTML = document.getElementsByTagName("body")[0];
    const modalBackground = document.getElementsByClassName("modalBackground")[0];
    const modalClose = document.getElementsByClassName("modalClose")[0];
    const modalActive = document.getElementsByClassName("modalActive")[0];
    const elementWindowClose = document.getElementById("closeElementWindow");

    // функция для корректировки положения body при появлении ползунка прокрутки
    function bodyMargin() {
        bodyElementHTML.style.marginRight = "-" + scrollbarWidth + "px";
    }

    // при длинной странице - корректируем сразу
    bodyMargin();

    function openElementWindow() {
      // делаем модальное окно видимым
      modalBackground.style.display = "block";

      // если размер экрана больше 1366 пикселей (т.е. на мониторе может появиться ползунок)
      if (windowInnerWidth >= 1366) {
          bodyMargin();
      }

      // позиционируем наше окно по середине, где 175 - половина ширины модального окна
      modalActive.style.left = "calc(50% - " + (175 - scrollbarWidth / 2) + "px)";
    };

    // нажатие на крестик закрытия модального окна
      modalClose.addEventListener("click", function () {
          modalBackground.style.display = "none";
          if (windowInnerWidth >= 1366) {
              bodyMargin();
          }
      });
    // // нажатие на крестик закрытия модального окна
    elementWindowClose.addEventListener("click", function () {
      modalBackground.style.display = "none";
      if (windowInnerWidth >= 1366) {
          bodyMargin();
      }
      });
    // закрытие модального окна на зону вне окна, т.е. на фон
    modalBackground.addEventListener("click", function (event) {
        if (event.target === modalBackground) {
            modalBackground.style.display = "none";
            if (windowInnerWidth >= 1366) {
                bodyMargin();
            }
        }
    });
</script>

<style>
  body {
    overflow-x: hidden;
  }
  /* фон нашего модального окна */
  .modalBackground {
      display: none;
      background: rgba(0, 0, 0, 0.8);
      position: fixed;
      width: 100%;
      height: 100%;
      cursor: pointer;
      /* указываем z-индекс для корректного наслаивания */
      z-index: 2;
  }
  /* позиционирование самого модального окна */
  .modalActive {
      position: absolute;
      width: 350px;
      height: 495px;
      top: calc(25% - 175px);
      left: calc(25% - 175px);
      border-radius: 10px;
      background-color: rgb(241, 241, 241);
      cursor: default;
      padding: 40px 20px;
  }
  .modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

  /* сама картинка кнопочки закрытия */
  .modalClose img {
      margin: 3px;
      width: 24px;
      height: 24px;
  }
  /* делаем позиционирование внутренних элементов относительно модального окна */
  .modalWindow {
      position: relative;
  }
</style>

  {% endblock content %}


// http://phrogz.net/tmp/canvas_rotated_text.html